/* ベーススタイル */
html {
  font-size: 18px; /* 基本のフォントサイズを拡大 */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 2em;
}

.mode-selection {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-right: 15px;
  font-size: 1.2em; /* フォントサイズを拡大 */
}

.hidden {
  display: none;
}

#time-input-container,
#search-input-container {
  text-align: center;
  margin-bottom: 20px;
}

/* ボタンのスタイル */
button {
  font-size: 1.1em; /* ボタンのフォントサイズを拡大 */
  padding: 10px 15px; /* ボタンのサイズを調整 */
  border: 1px solid #333;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: white;
}

/* テーブルスタイル */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px; /* セルの余白を拡大 */
  font-size: 1.1em; /* セル内のフォントサイズを拡大 */
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.train-type-rapid {
  color: #e74c3c;
  font-weight: bold;
}

.train-type-new-rapid {
  color: #3498db;
  font-weight: bold;
}

.remarks {
  font-style: italic;
  color: #555;
}
